<ul class = "document-list">
	  <% for item in @documents %>
		<li>
			<p class = "document-title"><a href="<%= url_for_document_page(item) %>"><%= item.title %></a></p>
			<p class = "document-author"><%= item.authors.first.name %></p>
		</li>
	  <% end %>


	<li>
		<p class = "document-title">Personal Dynamic Media</p>
		<p class = "document-author">Alan Kay</p>
	</li>
	<li>
		<p class = "document-title">Direct Manipulation of Turtle Graphics</p>
		<p class = "document-author">Matthias Graf</p>
	</li>
</ul>
<p>
	This is some body text that goes in a paragraph. I'm trying to determine what the main text font size should be but it's hard to say at this point. I need to write some text to see what it's actually going to look like. I also want to make sure the text doesn't get all silly and spill all over the place. Technically, I could think of the document titles as the default font sizes, but I think those are more like headers to me.
</p>

<p>
	This is some body text that goes in a paragraph. I'm trying to determine what the main text font size should be but it's hard to say at this point. I need to write some text to see what it's actually going to look like. I also want to make sure the text doesn't get all silly and spill all over the place. Technically, I could think of the document titles as the default font sizes, but I think those are more like headers to me.
</p>