<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Papers</title>
    
    <link href="styles/style.css" rel="stylesheet">
    
</head>
<body>
	
	<section class = "content">
		<%= yield %>
	</section>
    
</body>
</html>
